<head>
  <%= erb :head %>
</head>

<h1>
  Please Sign Up
</h1>

<center><form action='/users' method='post'>
    <input type='text' name='email' placeholder='Email'>
    <input type='text' name='password' placeholder='Password'>
    <input type='submit' value='Sign Up' class='button'>
</form></center>