body {
  background-color: rgb(207, 197, 161)
}

h1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 400%
}

ul#links {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  list-style-position: inside;
}

.button {
  background-color: rgb(207, 197, 161);
  font-family: 'Work Sans', sans-serif;
  color: white;
  border: 2px solid white;
  width: 120px;
	height: 40px;
  text-align: center;
  font-size: 14px;
}

.button:hover {
  background-color: white;
  color: rgb(143, 135, 110);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

input[type=text] { 
  text-align: center;
  font-size: 14px;
  font-family: 'Work Sans', cursive;
  width: 250px;
	height: 30px;
  border:3px 
  solid rgb(255, 255, 255); 
}

input[type=text]:focus {
  border-color:rgb(201, 201, 200);
  outline: none;
}

