<!DOCTYPE html>
<html>
  <head> 
    <%= erb :head %>
  </head>

    <h1> New Link </h1>
    
    <div id='link'>
      <form action="/links" method="post">
        <input type='text' name='title' placeholder='Title'>
        <br>
        <br>
        <input type='text' name='url' placeholder='URL'>
        <br>
        <br>
        <input type='text' name='tags' placeholder='Tag(s)'>
        <br>
        <br>
        <input type="submit" value="Create Link" class="button">
      </form>
    </div>
    <br>
    <form action='/links'>
      <input type="submit" value="Back" class="button">
    </form></center>
</html>